section{
    height: 100vh;
    background-position: center center;
    background-size: cover;
}
#content-homepage{
    opacity: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 0;
    padding-bottom: 1.2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 48.3vh;
}
.title h1{
    text-align: center;
    font-size: 2.625rem;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 3px;
}
.title a{
    margin-top: 0.625rem;
    font-size: 0.96rem;
    font-family: sans-serif;
    text-decoration: underline;
    word-spacing: 3px;
    letter-spacing: 1px;
}
.div-button-homepage{
    display: flex;
    gap: 1.15635rem;
}
.btn-custom-order{
    height: 40px;
    width: 16.5rem;
    background-color: #171a20c7;
    border: 0;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    color: #ffffff;
    font-size: 0.9375rem;
    font-weight: 540;
    letter-spacing: 1px;
    backdrop-filter: blur(10px);
    cursor: pointer;
}
.btn-existing-inventory{
    height: 40px;
    width: 16.5rem;
    background-color: #e8e9e78c;
    border: 0;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    color: #3B3F43;
    font-size: 0.9375rem;
    font-weight: 540;
    letter-spacing: 1px;
    backdrop-filter: blur(10px);
    cursor: pointer;
    
}
.down-arrow{
    background-image: url("images/homepage/seta-down.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 11px;
    width: 100%;
   text-align: center;
    position: fixed;
    top: 93.3vh;
    transition: opacity .3s ease-in;
    z-index: 0;
}
.list-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px;
    list-style: none;
    gap: 20px;
    color: #171A20;
    font-size: 14px;
    letter-spacing: 0.6px;
    color: #5C5E62;
    margin-bottom: 28px;
}
.section-7{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media (max-width: 1200px){
    header{
        justify-content: space-between;
    }
    .menu-principal{
        display: none;
    }
    #shop{
        display: none;
    }
    #account{
        display: none;
    }
    .shop-account-menu{
        justify-content: flex-end;
        margin-right: 5px;
    }
    .shop-account-menu a{
        background-color: rgba(186, 204, 217, 0.3);
        backdrop-filter: blur(10px);
    }
    .shop-account-menu a:hover{
        background-color: #BBC7D2;
    }
    .content{
        padding-bottom: 2.5vh;
    }
}
@media (max-width: 839px){
    .custom-order{
        width: 9.875rem;
        padding: 0.75rem 1rem;
    }
    .existing-inventory{
        width: 9.875rem;
        padding: 0.75rem 1rem;
    }
    .content{
        padding-bottom: 1.4vh;
    }
}
@media (max-width: 600px){
    .div-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        width: 91.4%;
    }
    
    aside{
        width: 60%;
    }
    .content{
        padding-bottom: 0.02vh;
    }
    .list-footer{
        flex-direction: column;
        gap: 2px;
        align-items: center;
        margin-bottom: 8px;
    }
    .oculto{
        display: none;
    }
}


