@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'tesla' ;
    src: url("TESLA.ttf") format("truetype");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    font-family: sans-serif;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    z-index: 4;
    display: flex;
    align-items: center;
}
.logo{
    font-family: 'tesla';
    letter-spacing: 9.5px;
    font-size: 18.5px;
    font-weight: 560;
    width: 334.5px;
    padding: 20px 47px;
}
.menu-principal{
    display: flex;
    justify-content: center;
    width: 677px;
    padding-left: 24px;
}
.shop-account-menu{
    padding-left: 74px;
    display: flex;
    justify-content: center;
    width: 334.5px;
}
.menu-principal a{
    padding: 8px 16.5px;
    border-radius: 4px;
    font-size: 0.96em;
    letter-spacing: 1px;
}
.shop-account-menu a{
    padding: 8px 16.5px;
    border-radius: 4px;
    font-size: 0.96em;
    letter-spacing: 1px;
}
.menu-principal a:hover{
    background-color: #CDD6E0;
}
.shop-account-menu a:hover{
    background-color: #CDD6E0;
}
aside{
    background-color: white;
    position: fixed;
    transition: right .3s ease;
    right: -294px;
    width: 294px;
    height: 650px;
    overflow: auto;
    padding: 79px 30px;
    z-index: 6;
}
.close{
    position: absolute;
    top: 19px;
    right: 22px;
    padding: 6px 12px;
    font-size: 24px;
    border: 0;
    cursor: pointer;
    color: #393C41;
    font-weight: 500;
    background-color: transparent;
}
.close:hover{
    background-color: #F2F2F2;
}
aside a{
    line-height: 18px;
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 12px 15px;
    font-size: 14.4px;
    font-weight: 500;
}
aside a:hover{
    background-color: #F2F2F2;
}
.backdrop{
    display: none;
    position: fixed;
    inset: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0,.35);
    backdrop-filter: blur(5px);
}
.section-pricipal{
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-image: url('images/pg-model-s/Model-S-Main.jfif');
}
.linear-gradient-1{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, black 1%, rgba(255, 255, 255, 0) 23%, transparent 76% );
}
.content{
    position: absolute;
    z-index: 3;
    padding-top: 6.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 330px;
}
.text h1{
    font-size: 42px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 3px;
}
.text p{
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
}
.box-car-profile{
    display: flex;
    width: 100%;
    padding-left: 246px;
    gap: 70px;
}
.car-profile{
    color: white;
}
.car-profile h2{
    font-size: 28px;
    font-weight: 540;
}
.order-now{
    border: 3px solid white;
    background-color: transparent;
    color: white;
    padding: 4px 24px;
    font-size: 14px;
    border-radius: 3px;
    height: 40px;
    width: 204px;
    cursor: pointer;
    margin-left: 5px;
    letter-spacing: 1.5px;
}
.order-now:hover{
    color: black;
   background-color: white;
}
.bate-papo{
    position: fixed;
    top: 492px;
    right: 32px;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px -1px 1px 1px  rgba(0, 0, 0, .2), -1px 1px 1px 1px  rgba(0, 0, 0, .2);
}
.darkness-background{
    background-color: black;
    color: white;
    text-align: center; 
    height: 68px;
}
.secton-second{
    position: relative;
    background-image: url("images/pg-model-s/MS-Interior.jfif");
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    padding-bottom: 24px;
}
.section-third{
    background-image: url("images/pg-model-s/Model-S-Performance-Hero-Desktop-LHD.jfif");
    height: 349px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    padding-top: 230.969px;
}
.linear-gradient-2{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, black 1%, rgba(255, 255, 255, 0) 23%, transparent 76% );
}
.div-video-model-s{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.video-model-s{
    width: 93.5%;
    border-radius: 15px;
}
.display-car{
    display: none;
    border-radius: 15px;
    width: 100%;
}
.box-text-navigation{
    display: none;
}
.box-navigation{
    width: 45.6%;
    margin-top: 50px;
}
.navigation{
    display: flex;
    gap: 8px;
}
.option{
    height: 14px;
    width: 14px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #5C5E62;
    cursor: pointer;
}
.box-text-navigation{
    color: white;
}
.box-text-navigation h4{
    padding: 16px 0 8px 0;
}
.box-text-navigation p{
    padding: 16px 0 14px 0;
}
.car-attributes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    gap: 120px;
    height: 296.016px;
    padding-left:17px;
}
.car-attributes-image{
    height: 100%;
    width: 527.172px;
}
.car-attributes-image img{
    height: 100%;
    width: 100%;
}
.car-attributes-text{
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 407.328px;
    font-size: 15px;
    line-height: 20px;
}
.car-attributes-video{
    height: 100%;
    width: 527.172px;
}
.box-car-profile-2{
    display: flex;
    width: 100%;
    padding-left: 326px;
    gap: 200px;
}
.beyond-ludicrous{
    display: flex;
    justify-content: center;
    padding-top: 56px;
    padding-bottom: 20px;
    gap: 5px;
}
.beyond-ludicrous div h1{
    font-size: 28px;
    margin-bottom: 15px;
}
.beyond-ludicrous div{
    width: 407.328px;
    margin-bottom: 15px;
}
.beyond-ludicrous p{
    width: 623px;
    padding-right: 20px;
}
.order-now-2{
    border: 3px solid #171A20;
    background-color: transparent;
    color: #171A20;
    padding: 4px 24px;
    font-size: 14px;
    border-radius: 3px;
    height: 40px;
    width: 204px;
    cursor: pointer;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}
.order-now-2:hover{
    color: white;
   background-color: #171A20;
}
.order-now-3{
    border: 1px solid transparent;
    background-color: #EEEEEE;
    color: #171A20;
    padding: 4px 24px;
    font-size: 14px;
    border-radius: 3px;
    height: 40px;
    width: 204px;
    cursor: pointer;
    letter-spacing: 1.5px;
}
.vehicle-internal-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: #F4F4F4;
    padding-top: 158px;
    padding-bottom: 64px;
}
.vehicle-internal-description-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: white;
    padding-top: 158px;
    padding-bottom: 64px;
}
.electric-powertrain{
    padding-right: 220px;
    width: 76.8%;
}
.electric-powertrain h1{
    font-size: 28px;
    margin-bottom: 24px;
    
}
.electric-powertrain p{
    font-size: 14px;
    font-weight: 540;
    letter-spacing: 1px;
    line-height: 20px;
}
.image-internal-powertrain{
    width: 92.9%;
    border-radius: 20px;
    padding: 5px;
    background-color: white;
}
.image-internal-powertrain img{
    width: 100%;
    height: 100%;
}
.demo-video{
    display: none;
}
.model-s-plaid{
    display: flex;
    cursor: pointer;
    gap: 30px;
}
.dual-motor-all-wheel-drive-1{
    width: 515.156px;
}
.dual-motor-all-wheel-drive-1 p{
    padding-right: 50px;
}
.darkness-line{
    width: 100%;
    height: 4px;
    background-color: #9C9D9F;
    margin-bottom: 20px;
}
.box-car-profile-3{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}
.car-profile-2{
    color: #171A20;
}
.car-profile-2 h2{
    font-size: 28px;
    font-weight: 540;
}
.designed-for-efficiency{
    background-color: #000000;
    color: white;
}
.designed-for-efficiency-image img{
    width: 100%;
    height: 100%;
}
.order-now-2-1{
    border: 3px solid white;
    background-color: transparent;
    color: white;
    padding: 4px 24px;
    font-size: 14px;
    border-radius: 3px;
    height: 40px;
    width: 204px;
    cursor: pointer;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}
.order-now-3-1{
    border: 1px solid transparent;
    background-color: #EEEEEE;
    color: #171A20;
    padding: 4px 24px;
    font-size: 14px;
    border-radius: 3px;
    height: 40px;
    width: 204px;
    cursor: pointer;
    letter-spacing: 1.5px;
}
.box-background-video{
    display: flex;
    height: 100%;
}
.background-video{
    position: relative;
    width: 69.54%;
    height: 100vh;
    background-color: black;
}
.background-video video{
    width: 100%;
    height: 100%;
}
.box-car-profile-4{
    position: absolute;
    bottom: 70px;
    display: flex;
    width: 100%;
    gap: 50px;
    padding-left: 45px;
}
.box-car-profile-4 div{
    color: white;
    width: 30%;
    text-align: center;
    font-weight: 500;
}
.box-car-profile-4 div p{
    font-size: 13px;
    padding-top: 8px;
}
.tex-video{
    width: 30.45%;
    padding: 0 40px;
}
.tex-video h4{
    font-size: 17px;
    font-weight: lighter;
    padding-top: 48px;
 }
.tex-video h1{
   padding-bottom: 24px;
}
.tex-video p{
    font-size: 14px;
}
.box-button-div-video{
    padding-top: 240px;
    padding-bottom: 40px;
}
.order-now-div-video{
    border: 3px solid #171A20;
    background-color: transparent;
    color: #171A20;
    padding: 4px 24px;
    font-size: 14px;
    border-radius: 3px;
    height: 40px;
    width: 336px;
    cursor: pointer;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}
.order-now-div-video:hover{
    color: white;
   background-color: #171A20;
}
.find-my-route-div-video{
    border: 3px solid transparent;
    background-color: #EEEEEE;
    color: #171A20;
    padding: 4px 24px;
    font-size: 14px;
    border-radius: 3px;
    height: 40px;
    width: 336px;
    cursor: pointer;
    letter-spacing: 1.5px;
}
.dual-motor-all-wheel-drive-2{
    width: 13.86%;
    cursor: pointer;
    color: #9C9D9F;
}
.dual-motor-all-wheel-drive-map{
    width: 13.86%;
    cursor: pointer;
    color: #9C9D9F;
}
.dual-motor-all-wheel-drive-demo{
    width: 13.86%;
    cursor: pointer;
    color: #9C9D9F;
}
.dual-motor-all-wheel-drive-2 p{
    font-weight: 500;
    margin-top: 15px;
}
.model-s-plaid-2{
    display: flex;
    cursor: pointer;
    gap: 25px;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
}
.darkness-line-video{
    width: 100%;
    height: 2px;
    background-color: #9C9D9F;
    margin-bottom: 20px;
}
.high-impact-protection{
    display: flex;
    width: 100%;
}
.text-image-safety{
    width: 35.73%;
    padding-left: 48px;
    padding-right: 86.6px;
}
.text-image-safety h1{
    width: 64.27%;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.text-image-safety h4{
    font-weight: 100;
    font-size: 18px;
}
.text-image-safety p{
    letter-spacing: 1.1px;
}
.box-button-div-safety{
    margin-top: 9em;
}
.high-impact-protection-image{
    width: 64.55%;
    height: 100%;
}
.high-impact-protection-image img{
   width: 100%;
   height: 100%;
}
.div-cameras-with-sense{
    width: 100%;
    position: relative;
}
.cameras-with-sense{
    width: 100%;
}
.camera-image{
    height: 100%;
    width: 100%;
}
.div-text-camearas-with-sense{
    position: absolute;
    height: 100%;
    top: 30px;
    left: 65px;
    width: 23%;
}
.div-text-camearas-with-sense div h1{
    font-size: 28px;
    font-weight: lighter;
}
.div-text-camearas-with-sense div p{
    font-size: 12px;
    padding-top: 8px;
    margin-bottom: 26px;
}
.vehicle-internal-description-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding-top: 58px;
}
.video-internal-powertrain{
    width: 100%;
}
.div-model-s-specs{
    background-color: black;
    color: white;
    padding-bottom: 40px;
}
.div-flex-model-s-specs{
    display: flex;
    padding-top: 50px;
    padding-bottom: 20px;
    gap: 3.81em;
    
}
.tables{
    width: 42%;
}
.tables h1{
    font-size: 28px;
    padding-bottom: 20px;
}
.div-description-model-s-specs{
    display: flex;
}
hr{
    width: 10%;
    height: 1px;
    margin-bottom: 14px;
}
.div-image-model-s-specs{
    width: 51%;
    height: 100%;
}
.div-image-model-s-specs img{
    width: 100%;
    height: 100%;
}
.table-model-s-plaid{
    width: 41.4%;
}
.table-model-s{
    width: 41.4%;
}
.table-model-s-plaid p{
    line-height: 22px;
    font-size: 14px;
}
.table-model-s p{
    line-height: 22px;
    font-size: 14px;
}
.spacing{
    margin-bottom: 18px;
}
.btn-model-s-plaid{
    font-size: 12px;
    border-radius: 4px;
    width: 228.609px;
    height: 32px;
    border: 3px solid white;
    background-color: transparent;
    padding: 4px 24px;
    margin-bottom: 20px;
    cursor: pointer;
}
.btn-model-s{
    font-size: 12px;
    border-radius: 4px;
    width: 228.609px;
    height: 32px;
    border: 3px solid #222222;
    background-color: transparent;
    padding: 4px 24px;
    margin-bottom: 20px;
    cursor: pointer;
}
.div-btn-model-s-specs{
    text-align: center;
}
.btn-compare{
    font-size: 0.87rem;
    border-radius: 4px;
    width: 12.7rem;
    height: 2.5rem;
    border: 3px solid white;
    background-color: transparent;
    padding: 4px 24px;
    cursor: pointer;
}
.div-model-s-white-car{
    display: flex;
    justify-content: center;
    gap: 70px;
}
.box-button-white-car{
    width: 52%;
    padding: 264px 0 0 156px;
}
.box-button-white-car h1{
    font-size: 28px;
    padding-bottom: 32px;
    color: #171A20;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.model-s-image-white-car{
    width: 52.5%;
    padding-top: 147px;
    padding-left: 30px;
}
.model-s-image-white-car img{
    width: 95%;
}
.btn-order-now-white-car{
    border-radius: 4px;
    margin-right: 20px;
    border: 3px solid #171A20;
    width: 12.75rem;
    height: 2.5rem;
    background-color: transparent;
    font-size: 14px;
    padding: 4px 24px;
    cursor: pointer;
    letter-spacing: 1.5px;
}
.btn-order-now-white-car:hover{
   color: white;
    background-color: #171A20;
}
.btn-view-inventory-white-car{
    border-radius: 4px;
    border: 1px solid transparent;
    width: 12.75rem;
    height: 2.5rem;
    background-color: #EEEEEE;
    font-size: 14px;
    padding: 4px 24px;
    cursor: pointer;
    letter-spacing: 1.5px;
}
.list-footer{
    display: flex;
    list-style: none;
    gap: 22px;
    color: #171A20;
    font-size: 13px;
    letter-spacing: 0.6px;
    color: #5C5E62;
}
.ancora-footer{
    text-decoration: underline;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 163.5px;
    padding-bottom: 28px;
}
footer p{
    width: 46%;
    font-size: 13.49px;
    margin-bottom: 50px;
    color: #5C5E62;
    font-weight: 500;
}
@media (max-width: 1200px){
    header{
        justify-content: space-between;
    }
    .menu-principal{
        display: none;
    }
    #shop{
        display: none;
    }
    #account{
        display: none;
    }
    .shop-account-menu{
        justify-content: flex-end;
        margin-right: 5px;
    }
    .shop-account-menu a{
        background-color: rgba(186, 204, 217, 0.3);
        backdrop-filter: blur(10px);
    }
    .shop-account-menu a:hover{
        background-color: #BBC7D2;
    }
    .content{
        gap: 265px;
        padding-bottom: 2.5vh;
    }
}
